/* GENERAL CSS CODE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* clearfix::after{
    content: '';
    display: table;
    clear: both;
} */

/* .wrapper{
    width: 100%;
} */

.container{
    width: 80%;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    height: 500px;
    z-index: 1;
    /* background-color: green; */
}

.button{
    padding: 12px 25px;;
    background-color: #64DE82;
    border: 1px solid #64DE82;
    border-radius: 5px;
    z-index: 1;
}

header{
    background-image: url("https://www.fluentify.com/home/wp-content/uploads/2020/01/fluentify-cover-privati-scaled.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(#001A4F));
    background: linear-gradient(270deg, transparent 0%, #001A4F 100%);
}


.header-menu{
    width: 70%;
    float: left;
    /* height: 100px; */
    /* background-color: red; */
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.header-menu .logo{
    padding: 20px 10px;
    padding-bottom: 0;
    float: left;
}

.header-menu ul{
    padding: 36px 15px;
    padding-bottom: 0;
    float: left;
}

.header-menu li{
    display: inline-block;
    margin: 0 5px;
}

.header-menu a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.header-buttons-menu{
    width: 30%;
    padding: 24px 0;
    padding-bottom: 0;
    float: right;
    position: relative;
    /* height: 100px; */
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    /* background-color: blue; */
}

.header-buttons-menu a{
    text-decoration: none;
    float: left;
    margin-left: 20px;
    color: white;
}

.header-buttons-menu a:last-child{
    padding: 11px 5px;
}

.align-right{
    float: right;
}
