/* GENERAL CSS CODE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* clearfix::after{
    content: '';
    display: table;
    clear: both;
} */

/* .wrapper{
    width: 100%;
} */
header{
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.container{
    width: 80%;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    min-height: 100px;
    z-index: 1;
    /* background-color: green; */
}

.container2{
    width: 65%;
    margin: auto;
    /* height: 500px; */
    position: relative;
    z-index: 1;
    /* background-color: green; */
}

.button{
    padding: 12px 32px;;
    color: #337142;
    background-color: #64DE82;
    border: 1px solid #64DE82;
    border-radius: 5px;
    z-index: 1;
}

.button:hover {
    background-color: rgba(100,222,130,0.7);
    border-color: rgba(100,222,130,0.7);
    color: white;
}

/* HEADER */
header{
    background-image: url("https://www.fluentify.com/home/wp-content/uploads/2020/01/fluentify-cover-privati-scaled.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(#001A4F));
    background: linear-gradient(270deg, transparent 0%, #001A4F 100%);
}

/* NAV */
.header-menu{
    width: 67%;
    float: left;
    /* height: 100px; */
    /* background-color: red; */
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.header-menu .logo{
    padding: 20px 5px;
    padding-bottom: 0;
    float: left;
}

.header-menu ul{
    padding: 36px 15px;
    padding-bottom: 0;
    float: left;
}

.header-menu li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.header-menu a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.current-item a::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #64DE82;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -4px;
    z-index: -1;
}

.header-buttons-menu{
    width: 33%;
    padding: 24px 0;
    padding-bottom: 0;
    float: right;
    position: relative;
    /* height: 100px; */
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    /* background-color: blue; */
}

.login{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.login:hover {
    color: #001A4F;
    background-color: white;
    border: 1px solid white;
}

.demo{
      margin: 0 10px;
}

.header-buttons-menu a{
    text-decoration: none;
    float: left;
    color: white;
}

.header-buttons-menu a:last-child{
    padding: 11px 5px;
}

.align-right{
    float: right;
}

/* JUMBOTRON */
.jumbotron{
    width: 64%;
    color: white;
    padding: 30px 0;

}
.jumbotron span{
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.jumbotron a{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.jumbotron h1{
    font-weight: bolder;
    font-size: 50px;
    padding: 10px 5px;
}

.jumbotron h3{
    font-size: 17px;
    padding: 0px 5px;
}

.aquista{
    width: 28%;
    margin-top: 30px;
}

.main{
    /* background-color: red; */
}

.main::after{
    content: '';
    display: table;
    clear: both;
}

.photo{
    float: left;
    width: 50%
}

.photo img{
    width: 130%;
    padding-top: 140px;
    position: relative;
    left: -170px;
}

.right-side{
    float: left;
    width: 50%;
}

.right-side h1{
    color: #737373;
    padding-top: 100px;
    font-weight: bolder;
    font-size: 36px;
}

.right-side span{
    color: #64de82;
}

.border-bottom{
    padding: 20px 0;
    padding: 38px 0;
    border-bottom: 1px solid lightgrey;
}

.border-bottom:last-child{
    border-bottom: none;
}

.right-side h2{
    color: #011b50;
    font-weight: bold;
    font-size: 25px;
}

.right-side p{
    color: #848484;
    padding-top: 10px;
}
